.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rewardStyle.hideReward {
  opacity: 0;
  visibility: hidden;
}

.rewardStyle {
  z-index: 200;
  /* color: goldenrod; */
  clear: both;
  position: fixed;
  font-weight: 900;
  background: rgba(155, 155, 155, 0.1);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  opacity: 1;
  visibility: visible;
}

.rewardStyle.silver-mine {
  color: silver;
}

.rewardStyle.gold-mine {
  color: goldenrod;
}

.rewardStyle.copper-mine {
  color: #b7410e;
}

.bigReward {
  font-size: 150%;
}

.hugeReward {
  font-size: 200%;
}

.enormousReward {
  font-size: 250%;
}

.message {
  width: 100%;
  position: fixed;
  /* left: 20px; */
  top: 35px;
  margin: 0 auto;
  z-index: 1070;
  background-color: rgba(77, 77, 77, 1);
  color: white;
  font-weight: 600;
  -webkit-transition: 3.1s;
  -moz-transition: 3.1s;
  -o-transition: 3.1s;
  transition: 3.1s;
  opacity: 1;
  visibility: visible;
}

.message.hideReward {
  opacity: 0;
  visibility: hidden;
}
