.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rewardStyle.hideReward {
  opacity: 0;
  visibility: hidden;
}

.rewardStyle {
  z-index: 200;
  /* color: goldenrod; */
  clear: both;
  position: fixed;
  font-weight: 900;
  background: rgba(155, 155, 155, 0.1);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  opacity: 1;
  visibility: visible;
}

.silver-mine {
  color: silver;
}

.gold-mine {
  color: goldenrod;
}

.copper-mine {
  color: #b7410e;
}

.bigReward {
  font-size: 150%;
}

.hugeReward {
  font-size: 200%;
}

.enormousReward {
  font-size: 250%;
}

.resources-badge {
  margin: 5px;
}

.resources-production {
  color: rgb(7, 207, 7);
  font-weight: 600;
}

.message {
  width: 100%;
  position: fixed;
  /* left: 20px; */
  top: 35px;
  margin: 0 auto;
  z-index: 1070;
  background-color: rgba(77, 77, 77, 1);
  color: white;
  font-weight: 600;
  -webkit-transition: 3.1s;
  -moz-transition: 3.1s;
  -o-transition: 3.1s;
  transition: 3.1s;
  opacity: 1;
  visibility: visible;
}

.message.hideReward {
  opacity: 0;
  visibility: hidden;
}

/**** Worker ****/

.worker {
  width: 300px;
}

.worker-data {
  background-color: rgba(155, 155, 155, 0.2);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 272px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 5px 6px 0px gray;
  border: 1px solid gray;
}

#current-item {
  border-radius: 3px;
  border: 1px solid gray;
  background-color: rgba(155, 155, 155, 0.2);
}

.worker-stat {
  width: 175px;
  float: left;
  text-align: left;
}

.worker-stat-value {
  float: left;
}

/**** App Components ****/

#resources,
#stats,
#store,
#market,
#bank,
#workers,
#mining,
#equipment,
#home {
  border-radius: 3px;
  box-shadow: 5px 6px 0px #1e1e1e;
  border: 1px solid #1e1e1e;
  margin-top: 15px;
}

#stats {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
}

#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  background-color: white;
  text-align: center;
  background-color: #f8f9fa;
}

/* #main {
  margin-top: 150px;
} */

#navigation {
  display: inline-block;
  padding: 0 25px 0 25px;
}

#navigation ul li {
  margin: 10px 2px;
}

/**** Reward & LevelUp ****/

#congratulations {
  z-index: 1000;
  width: 500px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  color: goldenrod;
}

#congratulations-header {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 30px/10px;
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

.confetti {
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
}

/**** Block Text Selection ****/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
